*{
    margin: 0px;
    padding: 0px;
}

.main, .page3, .page5{
    background: url(./Untitled\ design.png);
    height: 100vh;
    background-size: cover; 
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.811) inset, -10px -10px 30px rgba(0, 0, 0, 0.829) inset, -10px -10px 40px brown inset;
}

.main{
    background: url(./Untitled\ design\ \(6\).png);
    height: 100vh;
    background-size: cover;
}
.main img{
    height: 93%;
    position: absolute;
    right: 100px;
    bottom: 0;
    opacity: 0.5;
    display: none;
}

.content{
    color: white;
    margin-top: 13rem;
    z-index: 10;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 32rem;
    text-decoration: underline;
    font-family: "Roboto Slab", serif;

}


.intro, .page4 {
    background: url(./bgpage2.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.811) inset, -10px -10px 50px rgba(0, 0, 0, 0.829) inset;
}

.intro img{
    height: 90%;
    margin-top: 65px;
}
.content2 {
    font-size: 20px;
    margin: auto 40px auto 10px;
    text-align: justify;
    font-family: "Playfair Display", serif;
    background-color: rgba(222, 221, 221, 0.199);
    border-radius: 10%;
}

.content2 ul{
    padding: 20px 20px 20px 30px;
}

.content3 {
    font-size: 23px;
    margin: auto 4rem;
    text-align: justify;
    font-family: "Playfair Display", serif;
    background-color: rgba(209, 136, 0, 0.418);
    border-radius: 10%;
}

.content3 p{
    padding: 20px;
}

.content4{
    font-size: 23px;
    margin: auto 70px;
    text-align: justify;
    font-family: "Playfair Display", serif;
    background-color: rgba(222, 221, 221, 0.199);
    border-radius: 10%;
    padding: 20px;
}
.content5{
    font-size: 25px;
    margin: auto 55px auto 55px;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-color: rgba(209, 136, 0, 0.418);
    border-radius: 10%;
    text-shadow: 1px 1px grey;

}

.content5 p{
    padding: 20px;
}
.img5{
    height: 30px
}

.page3 img{
    margin: 1.5rem 2.5rem 1.5rem 0;
    border-radius: 0.75rem;
}

.page4 img{
    margin: 1.5rem 0 1.5rem 2.5rem;
    border-radius: 0.75rem;
}


